:root{
    --azul-principal: #0B3C7D;  /* nave, titulos, fondos importantes icons  */
    --azul-secundario: #1F5FBF; 
    --rojo-acento-claro: #E31C2D; /* para llamar atencion como botones y ofertas  */
    --rojo-acento-hover: #D71920; /* para llamar atencion como botones y ofertas  */
    --gris-texto: #555;  /* texto  */
    --gris-claro: #F4F6F8; /* fondos suaves, separadores  */
    --blanco: #FFFFFF;/* fondo principal  */

}
html{
    box-sizing: border-box;
    color: var(--gris-texto);
    padding: 0;
    margin: 0; 
}
*, *:before, *:after{
    box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6{
    color: var(--azul-principal);
}
.header{
    background-color: var(--azul-principal);
    color: var(--blanco);
}
.navegacion{
    width: 100%;
}
.contenedor-logo{
    background-color: var(--blanco);
    width: 100%;
    display: flex;
    justify-content: center;
}

#logo{
    width: 250px;
    margin: 0;
    padding: 10px;
    
}
.menu{
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}
#menu-toggle{
    display: none;
}
@media (max-width: 500px) {
    .navegacion{
        position: relative;
        min-height: 30px;
    }
    .menu{
        flex-direction: column;
        align-items: center;
        gap: 5px;;
    }
    
    #menu-toggle{
        display: block;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 10px;
    }
}

.header a{
    color: var(--blanco);
    text-decoration: none;
}
.header a:hover{
    color: var(--rojo-acento-claro);
}



.hero{

    background-image: url(../assets/img/hero.png);
    background-size: cover;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-hero{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
@media (min-width: 900px) {
    .info-hero{
        padding: 50px;
    }
}
.boton{
    background-color: var(--rojo-acento-claro);
    padding: 10px 20px;
    color: var(--blanco);
    transform: scale(1);
    transition: all 0.3s ease;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    border: none;
}
.boton:hover{
/*     background-color: var(--rojo-acento-hover); 
 */    cursor: pointer ;
    transform: scale(1.2);
}   
@media (max-width: 500px) {
    .hidden{
        display: none;
    }
}

section{
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.contenido-nosotros{
    display: flex;
    gap: 10px;
    
}
.contenido-nosotros img{
    max-width: 50%;
    object-fit: contain;
    margin: 0 auto;
}
@media (max-width: 500px) {
    .contenido-nosotros{
        flex-direction: column;
    }
    .contenido-nosotros img{
        max-width: 100%;
        object-fit: cover;
    }
}
.texto-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}


/* Productos destacados */
.productos-destacados, .servicios{
    padding: 20px;
    text-align: center;
}
.contenedor-productos, .contenedor-servicios{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.producto-card, .servicio-card{
    background-color: var(--gris-claro);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}
.producto-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.contenedor-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.boton-seccion{
    /* centramos el boton */
    display: inline-block;
    margin: 20px auto;
}
/* servicios */
.servicios .servicio-card li{
    text-align: left;
    margin-bottom: 10px;
}



footer{
    background-color: var(--azul-principal);
    width: 100%;
    padding: 30px 0 5px 0;
    text-align: center;
    color: var(--blanco);
}
#logotipo {
    width: 180px;
    margin-bottom: 10px;
}
.social{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    text-decoration: none;
    border-radius: 50%;
    background-color: var(--azul-principal);
    color: var(--blanco);
    transition: 0.3s;
}
.social a:hover {
    background-color: #E31C2D; /* rojo acento */
    transform: translateY(-3px);
}